.card {
  margin: 20px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  width: calc(80% / 2);
  min-height: 280px;

  background-color: rgb(54, 73, 60);
  border-radius: 8px;

  &__name {
    font-size: 32px;
    font-family: Arial;
    color: white;
  }

  &__date {
    font-size: 24px;
    font-family: Arial;
    font-weight: 900;
    color: white;
  }

  &__limit {
    padding: 20px;

    border: 0;
    background-color: rgb(138, 41, 33);
    font-size: 24px;
    font-family: Arial;
    color: white;
  }
}